//custom color variables
$brand-red: #8B0000;
$brand-green: #228B22;
$brand-gold: #DAA520;
$brand-off-white: #F5F5DC;

//custom font variables
@font-face {
    font-family: 'Jua';
    src: url('../../assets/fonts/Jua-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.app-container {
    background-color: $brand-off-white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    min-height: 80px;
}

.custom-navbar-brand {
    flex: 0 0 30%;  
    background-color: $brand-red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.custom-navbar-links {
    flex: 0 0 70%;
    background-color: $brand-green;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}

.custom-navbar-brand-text{
    font-family: 'Jua', sans-serif;
}

.custom-nav-link{
    display: flex;
    gap: 4rem;
}

.navbar-collapse {
  background-color: $brand-green;
}

/* Container for the carousel that holds the background images */

.p, .text-special {
    color:$brand-red;
}
.header-carousel-container {
    position: relative;
}
  
  /* Style for each carousel images */
.header-carousel-image {
    height: 300px;
    object-fit: cover;
}
  
.header-container{
    border-bottom: 2px solid $brand-gold;
    margin: 80px auto 1rem auto;;
}

.header-text{
    color: $brand-red;
    margin-bottom: 1rem;
    font-family: 'Jua', sans-serif;
}

.header-button{
    background-color: $brand-green !important;
    border: 1px solid $brand-gold !important;
    border-radius: 4px !important;
    padding: 0.5rem 1rem !important;
    margin-top: 8rem;
}

.menu-box, .reservation-container, .contact-page, .admin-container {
    border: 2px solid #daa520;
    background-color: #f5f5dc; 
    padding: 1rem;
    border-radius: 4px;
  }
  
  .reservation-container{
    margin: 5rem;
  } 

  .menu-category-heading, .menu-header, .reservation-heading, .contact-info-title, 
  .admin-container-title, .admin-container-subtitle, .admin-table-header {
    font-family: 'Jua', sans-serif;
    color: $brand-red !important;
  }

.today-special{
  color: $brand-red !important;
}

  .heading-line {
    position: relative;
    width: 100%;
    text-align: center;  
    margin: 2rem 0;     

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 92.5%;              
        margin: 0 auto;          
        height: 2px;
        background-color: $brand-gold;
        z-index: 0;
        transform: translateY(-50%);
    }
  
    // The heading inside
    .menu-header, .contact-info-title, .admin-container-subtitle {
      position: relative;
      display: inline-block;           
      background-color: $brand-off-white; 
      padding: 0 1rem;                  
      margin: 0;                        
      z-index: 1;                       
    }
  }
  

.menu-size{
    color: $brand-green !important;
}

.menu-extras, .menu-item{
    color: $brand-red !important;
}

.menu-price{
    color: $brand-gold !important;
}

.table {
    background-color: transparent !important;
    color: $brand-red !important;
  
td, th {
    background-color: transparent !important;
    vertical-align: middle;
    padding: 0.75rem;
    }
  }
  
.reservation-button, .contact-form-button{
    background-color: $brand-green !important;
    border: 1px solid $brand-gold !important;
    border-radius: 4px !important;
    padding: 0.5rem 1rem !important;
}

.reservation-input, .contact-form-input{
    background-color: $brand-off-white !important;
    border: 1px solid $brand-gold !important;
    border-radius: 4px !important;
}

.icon-floating-group {
    position: relative;
  
    .floating-icon {
      position: absolute;
      top: 50%;
      right: 0.75rem;       
      left: auto;           
      transform: translateY(-50%);
      z-index: 2;
      pointer-events: none; 
    }
  
    .icon-field {
      padding-right: 2.5rem !important; 
      padding-left: 0.75rem !important;
    }
  }
  
.contact-info-text{
    color: $brand-red !important;
    font-family: "Jua", sans-serif;
    text-align: center;
}


//home page styling
.text-muted{
    color: $brand-red !important;
}
.home-card {
    border-style: solid;
    border-width: 2px 0;
    border-color: $brand-gold;
    margin: 10px auto 1rem auto;
}

.date-label{
    background-color: $brand-off-white !important;
    border: none !important;
}
// .footer-card {
.line-base {
    border-bottom: solid $brand-gold;
    margin: 80px auto 1rem auto;;
}

//about us page styling
.about-card {
    border: 2px solid $brand-gold !important;
    background-color: $brand-off-white !important;
    border-radius: 4px;
  }
  
  .about-card-title, .map-location-title{
    font-family: 'Jua', sans-serif;
    color: $brand-red !important;
  }
  
  .about-card-text {
    color: #000 !important;
  }
  
  .line-separator {
    border-bottom:  solid $brand-gold;
    margin: 80px auto 1rem auto;;
  }

// The footer styles
.footer-card, .home-card {
    border: 2px solid $brand-gold !important;
    background-color: $brand-off-white !important; 
}

.footer-card-text, .footer-card-title{
    color: $brand-red !important;
}

.footer-card-title, .home-title, .today-special, .special-title{
    font-family: 'Jua', sans-serif;
}

.footer-link{
    text-decoration: none;
    color: $brand-green;
    &:hover {
        color: $brand-red;
    }
}

.footer-bottom {
    background-color: $brand-green; 
    padding: 1rem 0;         
    color: #fff;            
}

.footer-button{
    background-color: $brand-green !important;
    border: 1px solid $brand-gold !important;
    border-radius: 4px !important;
    margin-left: 5px;
}

.social-icons {
    display: flex;
    gap: 5rem;
  }
  
.contact-social-icons {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

  .social-icons .icon, .contact-social-icons {
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease;
    
    &:hover {
      color: $brand-red;
    }
  }

.form-stroke {
    border: 2px solid $brand-gold !important;
    border-radius: 4px;  
}  

.custom-navbar-top .navbar-brand, 
.custom-navbar-top .nav-link {
  color: #fff !important;   
}

.custom-navbar-top .nav-link:hover {
  color: $brand-gold !important; 
}